
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-at-circled:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e802'; } /* '' */
.icon-flickr-circled:before { content: '\e803'; } /* '' */
.icon-github-circled:before { content: '\e804'; } /* '' */
.icon-lastfm-circled:before { content: '\e805'; } /* '' */
.icon-linkedin-circled:before { content: '\e806'; } /* '' */
.icon-pinterest-circled:before { content: '\e807'; } /* '' */
.icon-skype-outline:before { content: '\e808'; } /* '' */
.icon-tumbler-circled:before { content: '\e809'; } /* '' */
.icon-twitter-circled:before { content: '\e80a'; } /* '' */
.icon-vimeo-circled:before { content: '\e80b'; } /* '' */
.icon-clock:before { content: '\e80c'; } /* '' */
.icon-clock-1:before { content: '\e80d'; } /* '' */
.icon-globe:before { content: '\e80e'; } /* '' */
.icon-lightbulb-alt:before { content: '\e80f'; } /* '' */
.icon-picasa:before { content: '\e810'; } /* '' */
.icon-group-circled:before { content: '\e811'; } /* '' */
.icon-phone-circled:before { content: '\e812'; } /* '' */